import useController from "./useController";

export default function {{pascalCase name}}() {

    const {} = useController();

    return (
        <>
            <h1 data-testid="{{pascalCase name}}">{{pascalCase name}}</h1>
        </>
    );
}

