li {
    list-style: none;
}

.scroll-mandatory {
    scroll-snap-type: x mandatory;
}

.scroll-align-center {
    scroll-snap-align: center;
}

.without-scrollbar::-webkit-scrollbar,
.without-scrollbar::-webkit-scrollbar-track,
.without-scrollbar::-webkit-scrollbar-thumb,
.without-scrollbar::-webkit-scrollbar-thumb:hover {
    display: none;
    width: 10px;
}

select:invalid{
    color: var(--chakra-colors-brand-text)!important;
}

option {
    color: var(--chakra-colors-brand-heading)!important;
}